@import '~nativescript-theme-core/css/core.light.css';
.titleLabel {
    margin: 16;
    vertical-align: center;
}
    
.itemStackLayout {
    text-align: left;
    vertical-align: center;
    font-size: 16;
    color:#404040;
} 