@import '~nativescript-theme-core/css/core.light.css';
.title {
    font-size: 30;
    horizontal-align: center;
    margin:20;
}

button {
    font-size: 15;
    horizontal-align: center;
}

.message {
    font-size: 20;
    color: #284848;
    horizontal-align: center;
}

.mainContent{
    background-color: white;
}

.drawerContent {
    background-color: gray;
}

.drawerContentText {
    font-size: 13;
    padding: 10;
}

.drawerContentButton {
    margin: 10;
    horizontal-align: left;
}

.drawerWhiteContentButton {
    color: white;
}

.headerContent {
    height: 56;
    text-align: center;
    vertical-align: center;
}

.drawerSectionHeader {
    padding: 10;
    background-color: lightgray;
}

.drawerSectionItem {
    padding: 10;
}

.listViewCellLabel {
    margin-left: 15
}

.listView {
    background-color: #ffffff;
}

.example-title {
    color: #555555;
    font-size: 17;
    margin: 0;
    padding: 10;
}

.control-title {
    color: #FFFFFF;
    background-color: #284848;
    font-size: 22;
    margin: 0;
    padding: 5;
}

.example-group-title {
    color: #555555;
    background-color: #808080;
    font-size: 20;
    margin: 0;
    padding: 5;
}

.titleLabel {
    margin: 16;
    vertical-align: center;
}

.itemStackLayout {
    text-align: left;
    font-size: 16;
    color:#404040;
}

.label {
    margin-left: 20;
    margin-top: 20;
    margin-bottom: 20;
    font-size: 18;
}

.labelBold {
    margin: 20;
    font-weight: bold;
}

.item-template-style{
    border-width:1;
    border-color: gray;
}

.groupLabel {
    background-color: lightblue;
    padding: 15;
}

.listItem-template-grid {
    border-color: red;
    background-color: blue;
    color: white;
    border-width: 1;
}


.red-transparent-selection-list {
    item-selected-background-color: red;
    background-color: transparent;
    color: white;
}

