.root-drawer-content {
    background-color: lightgray;
}

.root-item-stack-layout {
    text-align: left;
    vertical-align: center;
    font-size: 16;
    color:#404040;
}

.root-drawer-content {
    background-color: lightgray;
}

.root-drawer-content-text {
    font-size: 13;
    padding: 10;
}

.root-drawer-content-button {
    margin: 10;
    horizontal-align: left;
}